coverage
CDN
.project
.settings
*~
*.diff
*.patch
/*.html
.DS_Store
.sizecache.json
.eslintcache

# Ignore built files in `dist` folder
# Leave the package.json and wrappers
/dist/*
!/dist/package.json
!/dist/wrappers

# Ignore built files in `dist-module` folder
# Leave the package.json and wrappers
/dist-module/*
!/dist-module/package.json
!/dist-module/wrappers

/external
/node_modules

# Ignore BrowserStack files
local.log
browserstack.err
