name: Node

on:
  pull_request:
  push:
    branches-ignore: "dependabot/**"

env:
  NODE_VERSION: 22.x

jobs:
  node-smoke-test:
    runs-on: ubuntu-latest
    name: Node smoke tests
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: '**/package-lock.json'

      - name: Install dependencies
        run: npm install

      - name: Run Node smoke tests
        run: npm run test:node_smoke_tests
