name: Node

on:
  pull_request:
  push:
    branches-ignore: "dependabot/**"

env:
  NODE_VERSION: 22.x

jobs:
  node-smoke-test:
    runs-on: ubuntu-latest
    name: Node smoke tests
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: '**/package-lock.json'

      - name: Install dependencies
        run: npm install

      - name: Run Node smoke tests
        run: npm run test:node_smoke_tests
